<ul class="list-group">
	<% pets.each do |pet| %>
		<li class="list-group-item flexbox-between">
			<%= link_to pet_path(pet) do %>
				<%= pet.name %> [<%= pet.specy %>] - <%= pet.sign %> 
			<% end %>

			<% if pet.found %>
				<%= link_to pet_path(pet), method: :delete, data: {confirm: 'are you sure?'} do %>
					❎
				<% end %>
			<% end %>
		</li>
	<% end %>
</ul>