<h2>
	<%= @pet.name %>
	<%= @pet.found ? 'found 🎉' : 'missing 😢'%>
</h2>
<p><strong>specy:</strong><%= @pet.specy %></p>
<p><strong>sign:</strong> <%= @pet.sign %></p>

<%= link_to 'edit this pet', edit_pet_path(@pet), class: 'btn btn-secondary btn-sm' %>