<!DOCTYPE html>
<html>
  <head>
    <title>AlloCat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="flexbox-between">
        <h1>
          Allo Cat
          <%= link_to '😻', pets_path %>
        </h1>
        <div>
          <%= link_to 'Lost a pet?', new_pet_path, class: 'btn btn-warning' %>
        </div>
      </div>
      <hr>
      <%= yield %>
    </div>
  </body>
</html>
